body {
  font-family: "Fira Sans", sans-serif;
}

.container {
  margin: 50px auto;
  width: 83.333333%;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding: 40px 0;
}
.banner-left {
  max-width: 40rem;
}
.banner-container h1 {
  font-size: 1.5rem;
  color: #7e7e7e;
  font-weight: 700;
}
.banner-container p {
  font-size: 4rem;
  font-weight: 700;
}
.banner-left button {
  background-color: #006a50;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.banner-left button:hover {
  background-color: white;
  color: #006a50;
  transition: .3s all;
}

.vision-container {
  display: flex;
  flex-direction: column;
}
.vision-content h2 {
  font-size: 2rem;
  font-weight: 700;
}
.vision-content p {
  color: #5a5a5a;
  font-weight: 500;
}
